body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Cinza claro */
}

header {
  background-color: #ff66b2; /* Rosa */
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffccff; /* Rosa claro */
}

main {
  padding: 1em;
  margin: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}

main h2, main h3 {
  color: #ff66b2; /* Rosa */
}

p {
  color: #666; /* Cinza */
}

.food-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; /* Branco */
  border: 1px solid #ccc; /* Cinza claro */
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.food-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 60%; /* Largura máxima da lista */
}

.food-info li {
  margin-bottom: 10px;
  color: #333; /* Cinza escuro */
}

.food-info img {
  max-width: 30%; /* Largura máxima da imagem */
  height: auto;
  border-radius: 5px;
  margin-left: 20px; /* Espaçamento entre a imagem e a lista */
}

#melao-resultente-width {
  max-width: 13%; /* Largura máxima da imagem */
}

#abobora-width {
  max-width: 14%; /* Largura máxima da imagem */
}

#trigo-width {
  max-width: 12%; /* Largura máxima da imagem */
}

footer {
  background-color: #ff66b2; /* Rosa */
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre as boxes */
}

.box {
  background-color: white;
  border: 1px solid #ccc; /* Borda cinza claro */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(50% - 20px); /* Faz com que cada box ocupe 50% do espaço disponível menos o espaço do gap */
  margin: 10px 0; /* Espaço vertical entre as boxes */
  background-color: #f0f0f0;
}

.box p {
  margin-bottom: 10; /* Remove o espaço padrão dos parágrafos dentro das boxes */
}

/**/

.farm-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; /* Branco */
  border: 1px solid #ccc; /* Cinza claro */
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.farm-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 60%; /* Largura máxima da lista */
}

.farm-info li {
  margin-bottom: 10px;
  color: #333; /* Cinza escuro */
}

.farm-info img {
  max-width: 30%; /* Largura máxima da imagem */
  height: auto;
  border-radius: 5px;
  margin-left: 20px; /* Espaçamento entre a imagem e a lista */
}




.main-image {
  max-width: 35%; /* Largura máxima da imagem */
  height: auto;
  border-radius: 5px;
  margin-left: 185px;
  justify-content: center;

}

.texto-descritivo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0; /* Branco */
  border: 1px solid #ccc; /* Cinza claro */
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}